services:
  - type: web
    name: alliance-hq
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        value: alliance-hq-super-secure-jwt-secret-key-2024-render
      - key: MONGODB_URI
        value: mongodb+srv://mertergin:Abana1905%2E@alliancehq.bvbpnkz.mongodb.net/alliance-hq